# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# OS files
.DS_Store
Thumbs.db

# Logs
*.log


souvik_822559.ipynb
tmp.h5

# Ignore all input data files
input/